//*{ border:1px solid red; box-sizing:border-box; }

body {
  margin: 0;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #383838;
}

.wrapper {
  background: #383838;
}
.slogan {
        color: #FBDA57;
      }

hr {width: initial;}
  
  header {
    display: flex;
    border-bottom: 1px solid #857F7F;
    

    .headerLeft {
      display: flex;
      align-items: center;
      color: white;
      white-space: nowrap;
      
      
      h1, p {
        margin: 0;
      }
      
        img 
          {margin-right: 15px;}
      
          
     }

    .menu {

      
      text-overflow: clip;
      color: white;
      text-align: center;
    //float: right;
    width: 100%;
    margin: 30px 0;

    ul {
      list-style: none;
    margin: 0;
    padding: 0;
   

    li {
      @media (max-width: 1310px) and (min-width: 1071px) {
        margin: 0 10px;
        
      }

      @media (max-width: 1070px) {
        margin: 5px 83px;
        
      }
      
      font-size: 30px;
      display: inline-block;
      border: 1px solid #18171718;
      box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.3);
      
      margin: 0 50px;
     padding: 0 30px;
    
      a {
        text-decoration: none;
      }
      
      a:visited
      {color:white;}

      a:hover 
      {
        color: #FBDA57;
        transition: all .4s;

      }
    }
     li:hover {
      transform: scale(1.2);
     }
    
    
    }
    }
  }

  .mainContent {
    border-bottom: 1px solid #FBDA57;
   // height: 100vh;
    .bio { 
      @media (max-width: 923px) {
         display: inline; 
          
        }
    display: flex;
    margin: 5%;
    color: white;
      img {
        @media (max-width: 923px) {
          margin: 3% 20%;
           
         }
        margin: 2%;
      }
      .text {
        @media (max-width: 923px) {
          margin-left: 20%;
           
         }
        width: auto;
        margin: 90px 0;
       
      }
       p {
      font-size: 32px;
        .big {
          font-size: 40px;

        }
    }
  }
    .slider {
      background-color: #857F7F;
      width: 100%;
    }

    .album {
      @media (max-width: 959px) {
        display: grid;
         
       }
      display: flex;
      justify-content: center;
      border-bottom: 1px solid #857F7F;
      

      img {
        margin: 5% 10%;
        cursor: pointer;
      }
      img:hover {
        transform: scale(1.2);
      }
    }


    .progs{
      
      color: white;
      margin: 4% 10%;
      //margin: 5%;
      table {
        tr {
          @media (max-width: 923px) {
          display: grid;
    margin-left: 35%;
         }
        }
        width: 100%;
        //margin: 2%;
      
        img {
          margin-left: 14%;
        }
      }
    }
    
  }
  
  footer {
    color: white;
    margin: 0 5%;
      table {
        
        width: 100%;
        
        td {
          justify-content: center;
          margin: 0;
        }
        .left {
          width: 40%;
        }

        .social {
          width: 30%;
          justify-content: center;
          
              
          
          img {
          margin: 0 10px;
          }
          
        }
        
        .contacts {
        .number {
            margin-right: 8%
          }
          
          width: 100%;
          //margin: 0 5%;
          display: flex;
          justify-content: right;
      align-items: right;
          img {
            margin: 10px;
          }
      
      
        }
        
      }
    }

