/** {
  margin: 0;
}*/

body {
  margin: 0;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #383838;
}

.wrapper {
  background: #383838;
}
.slogan {
        color: #FBDA57;
      }
hr {
  color: #9D9B9B;
}
  
  header {
    display: flex;
    

    .headerLeft {
      display: flex;
      align-items: center;
      color: white;
      white-space: nowrap;
      
      
      h1, p {
        margin: 0;
      }
      
        img 
          {margin-right: 15px;}
      
          
     }

    .menu {
      color: white;
      text-align: center;
    float: right;
    width: 100%;
    margin: 30px 0;

    ul {
      list-style: none;
    margin: 0;
    padding: 0;
   

    li {
      font-size: 30px;
      display: inline-block;
      border: 1px solid #18171718;
      box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.3);
      
      margin: 0 50px;
     padding: 0 30px;
    }
    }
    }
  }

  .mainContent {
   // height: 100vh;
    .bio {
    display: flex;
    margin: 5%;
    color: white;
      img {
        margin: 2%;
      }
      .text {
        width: 100%;
        margin: 90px 0;
      }
       p {
      font-size: 32px;
        .big {
          font-size: 40px;

        }
    }
  }
    .slider {
      background-color: #857F7F;
      width: 100%;
    }

    .album {
      display: flex;
      justify-content: center;

      img {
        margin: 5% 10%;
      }
    }

    .progs{
      color: white;
      table {
        width: 100%;
        margin: 2%;
      
        img {
          margin-left: 10%;
        }
      }
    }
    
  }
  
  footer {
    color: white;
      table {
        
        width: 100%;
        margin: 0 5%;

        .social {
          img {
          margin: 0 10px;
          }
        }

        .contacts {
          margin: 0 5%;
          display: flex;
      align-items: center;
          img {
            margin: 10px;
          }
      
      
        }
      }
    }

